# PyCharm
.idea/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/.doctrees/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject


### Python.VirtualEnv Stack ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

# ignore gitkeep
!.gitkeep
.vscode/settings.json
data/
data/CA/classifier_result/CA_Schools_1K_Result_FP_Done.csv
data/CA/classifier_result/CA_Schools_1K_Result_FP.csv
data/CA/classifier_result/CA_Schools_1K_Result_TP.csv
data/CA/classifier_result/CA_Schools_2K_Result_FP.csv
data/CA/classifier_result/CA_Schools_2K_Result_TP.csv
data/CA/classifier_result/CA_Schools_2K_Result.csv
data/CA/classifier_result/CA_Schools_2K_Result.csv
data/CA/classifier_result/CA_Schools_2K_Result.csv
data/CA/classifier_result/CA_Schools_2K_Result.csv
validator/geckodriver.log
validator/geckodriver.exe
data/CA/classifier_result/neg_pages/elementaryschools.org_directory_ca_cities_big-bar_cox-bar-elementary_60133101109_#section-1.html
data/CA/classifier_result/neg_pages/elementaryschools.org_directory_ca_cities_big-bar_cox-bar-elementary_60133101109_#section-2.html
data/CA/classifier_result/neg_pages/elementaryschools.org_directory_ca_cities_big-bar_cox-bar-elementary_60133101109_#section-4.html
data/CA/classifier_result/neg_pages/elementaryschools.org_directory_ca_cities_big-bar_cox-bar-elementary_60133101109.html
data/CA/classifier_result/neg_pages/en.wikipedia.org_wiki_California_Department_of_Education.html
data/CA/classifier_result/neg_pages/en.wikipedia.org_wiki_GreatSchools.html
data/CA/classifier_result/neg_pages/en.wikipedia.org_wiki_Los_Angeles_Times.html
data/CA/classifier_result/neg_pages/en.wikipedia.org_wiki_Realtor.com.html
data/CA/classifier_result/neg_pages/en.wikipedia.org_wiki_Trulia.html
data/CA/classifier_result/neg_pages/en.wikipedia.org_wiki_U.S._News_%26_World_Report.html
data/CA/classifier_result/neg_pages/publicschoolsk12.com_elementary-schools_ca_trinity-county_061008001109.html.html
data/CA/classifier_result/neg_pages/schools.latimes.com_school_big-bar_cox-bar-elementary.html
data/CA/classifier_result/neg_pages/support.google.com_websearch_answer_3338405.html
data/CA/classifier_result/neg_pages/www.cde.ca.gov_schooldirectory_details_cdscode=53716880000000.html
data/CA/classifier_result/neg_pages/www.ed-data.org_district_Trinity_Cox-Bar-Elementary.html
data/CA/classifier_result/neg_pages/www.google.com_history_optout_pa=1.html
data/CA/classifier_result/neg_pages/www.google.com_search_howsearchworks.html
data/CA/classifier_result/neg_pages/www.greatschools.org_california_big-bar_7561-Cox-Bar-Elementary-School.html
data/CA/classifier_result/neg_pages/www.localschooldirectory.com_public-school_6996_CA.html
data/CA/classifier_result/neg_pages/www.manta.com_c_mm7vwcl_cox-bar-elementary-school.html
annotator/geckodriver.exe
annotator/geckodriver.log
data/CA/classifier_result/CA_Schools_2K_Result.csv
data/CA/classifier_result/neg_pages/www.realtor.com_local_schools_Cox-Bar-Elementary-School-078679431.html
data/CA/classifier_result/neg_pages/www.schools-info.com_big-bar-ca_cox-bar-elementary-school.html
data/CA/classifier_result/neg_pages/www.trulia.com_schools_CA-big_bar-cox_bar_elementary_school-5700099656.html
data/CA/classifier_result/neg_pages/www.usnews.com_education_k12_california_cox-bar-elementary-231831.html
data/CA/classifier_result/neg_pages/www2.ed.gov_pubs_FamInvolve_cox.html.html
data/CA/classifier_result/pos_pages/wes.lammersvilleschooldistrict.net.html
data/CA/classifier_result/CA_Schools_2K_Result.csv
data/CA/classifier_result/CA_Schools_2K_Result.csv
